# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=erankup_db
DB_USER=admin
DB_PASSWORD=password

# Kafka Configuration
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=test_submission
KAFKA_GROUP_ID=ai-engine-group
